extends layout

block content
	script(src="/socket.io/socket.io.js")
	script.
		//var socket = io.connect('http://localhost:8000');		
		var socket = io.connect(window.location.search.split("/")[0]);
		function displayImageName(name) {
			popupS.alert({content: 'Bitte trage die Nummer '+name.slice(-4)+' in das Fotobuch ein!'});
		}
		/*
		socket.on('likeConfirmed', function(data) {
			var _likeCounter = document.getElementById("likeCounter-" + data.imageName);
			_likeCounter.innerHTML  = "(" + (parseInt(_likeCounter.innerHTML .slice(1, -1)) + 1).toString() + ")";
		});
		socket.on('dislikeConfirmed', function(data) {
			var _likeCounter = document.getElementById("likeCounter-" + data.imageName);
			_likeCounter.innerHTML  = "(" + (parseInt(_likeCounter.innerHTML .slice(1, -1)) - 1).toString() + ")";
		});
		*/
		
		/*function popup() {
			popupS.confirm({
				content: 'Do you want to delete ?',
				labelOk: 'Yes',
				labelCancel: 'No',
				onSubmit: function() {
					window.location.href = "/users/removeUser/}"
				},
				onClose: function() {
					console.log(':(');
				}
			});
		}
		function userPopup() {
			popupS.prompt({
				title: 'Nutzername anlegen?',
				content: 'Um Favoriten zu markieren muss ein Nutzername angegeben werden. Falls als Name eine valide E-Mail Adresse gewählt wurde, erhälte diese am Ende des Abends eine E-Mail mit den markierten Fotos.',
				placeholder: 'Nutzername/E-Mail: ',
				labelOk: 'Ok',
				labelCancel: 'Abbruch',
				onSubmit: function(val) {
					console.log(':)')
					//window.location.href = "/users/removeUser/}"
					if (val)
						window.location.search += ('&user=' + val)
				},				
				onClose: function() {
					socket.emit('dislike', {user: '#{user}', image: 'IMGP9971'});
					console.log(':(');
				}
			});
		}*/
		function likeImage(element, sessionId, fileName) {
			socket.emit("requestLike", {"sessionId": sessionId, "fileName": fileName});
			element.src = "../images/ic_favorite_white_24dp_2x.png";
			element.setAttribute( "onclick", "dislikeImage(this, '" + sessionId + "', '" + fileName + "');");
			var _likeCounter = document.getElementById("likeCounter-" + fileName.split(".")[0]);
			_likeCounter.innerHTML  = "(" + (parseInt(_likeCounter.innerHTML .slice(1, -1)) + 1).toString() + ")";
		}
		function dislikeImage(element, sessionId, fileName) {
			socket.emit("requestDislike", {"sessionId": sessionId, "fileName": fileName});
			element.src = "../images/ic_favorite_border_white_24dp_2x.png";
			element.setAttribute( "onclick", "likeImage(this, '" + sessionId + "', '" + fileName + "');");
			var _likeCounter = document.getElementById("likeCounter-" + fileName.split(".")[0]);
			_likeCounter.innerHTML  = "(" + (parseInt(_likeCounter.innerHTML .slice(1, -1)) - 1).toString() + ")";
		}
		function updateURLParameter(param, paramVal) {
			// https://stackoverflow.com/questions/1090948/change-url-parameters/10997390#10997390
			var url = window.location.search
			var newAdditionalURL = "";
			var tempArray = url.split("?");
			var baseURL = tempArray[0];
			var additionalURL = tempArray[1];
			var temp = "";
			if (additionalURL) {
				tempArray = additionalURL.split("&");
				for (var i=0; i<tempArray.length; i++){
					if(tempArray[i].split('=')[0] != param){
						newAdditionalURL += temp + tempArray[i];
						temp = "&";
					}
				}
			}
			var rows_txt = temp + "" + param + "=" + paramVal;
			return baseURL + "?" + newAdditionalURL + rows_txt;
		}
		function showPageNumber(numberPage){
			window.location.search=updateURLParameter("numberPage", numberPage);
		}
	link(rel='stylesheet', href='/stylesheets/gallery.css')
	h1 Gallery - #{Event.Name}
	p Page #{number+1}
	//input(type="button" value="login mathe" onclick="window.location.search += '&user=mathe23491@gmx.de'")
	//input(type="button" value="alert" onclick="userPopup()")
	//input(type="button" value="mesage" onclick="socketApi.sendNotification")
	div(class="routing") 
		- for (var n = 1; n <= numberPagesMax; n++)
			if(n == number+1)				
				.div(style="border-style: inset;")=n
			else
				.div(onclick="showPageNumber(" + (n - 1) + ")")=n
	div#image_container
		each image in imageList
			div(class="responsive" id="gallery_item_#{number}")
				div(class="gallery")
					a(class="image_ref" target="_blank" href="../fotos/#{strUnique}/#{image.file}.#{image.extension}")
						img(class="image_thumb" src="../thumbnails/#{strUnique}/#{image.file}.#{image.extension}" alt="#{image.file}")
					ul(class="flex-container space-between")						
						li #{image.file}
						li #{image.timestamp}
					ul(class="flex-container space-between")
						ul(class="flex-container align-center")
							li 
								if image.likedBool
									img(id="likeImg-#{image.file}" src="../images/ic_favorite_white_24dp_2x.png" onclick="dislikeImage(this, '#{sessionId}', '#{image.file}.#{image.extension}');" class="imageButton")
								else
									img(id="likeImg-#{image.file}" src="../images/ic_favorite_border_white_24dp_2x.png" onclick="likeImage(this, '#{sessionId}', '#{image.file}.#{image.extension}');" class="imageButton")								
							li(id="likeCounter-#{image.file}") (#{image.likeCounter}) 
							//- li
							//- 	img(id="commentImg-#{image.file}" src="../images/ic_message_white_24dp_2x.png" onclick="commentImage(this, '#{sessionId}', '#{image.file}.#{image.extension}');" class="commentButton")
							//- li(id="commentCounter-#{image.file}") (#{image.commentCounter})
							//-li
							//-	img(id="commentImg-#{image.file}" src="../images/baseline_print_white_24dp.png" onclick="displayImageName('#{image.file}');" class="getNameButton")							
						li
							a(href="../fotos/#{strUnique}/#{image.file}.#{image.extension}" id="download-#{image.file}") 
								img(src="../images/ic_get_app_white_24dp_2x.png" class="imageButton")
	div(class="clearfix")
	div(class="routing") 
		- for (var n = 1; n <= numberPagesMax; n++)
			if(n == number+1)				
				.div(style="border-style: inset;")=n
			else
				.div(onclick="showPageNumber(" + (n - 1) + ")")=n